Transition-Animations/Transition-Animations.xcodeproj/project.xcworkspace/xcuserdata/anjakarnaukh.xcuserdatad
Transition-Animations/Pods
Transition-Animations/Transition-Animations.xcworkspace/xcshareddata
Transition-Animations/Transition-Animations.xcworkspace/xcuserdata
